VITE_API_BASE_URL=/api
VITE_PORTAL_URL=http://localhost:17300
VITE_APP_ADMIN_URL=http://localhost:17301
VITE_APP_CHAT_URL=http://localhost:17302
VITE_APP_AUDIT_URL=http://localhost:17303
VITE_APP_TICKET_URL=http://localhost:17304
VITE_APP_CUSTOMER_H5_URL=http://localhost:17305
VITE_APP_MARKETING_URL=http://localhost:17306
