VITE_API_BASE_URL=/api
VITE_PORTAL_URL=http://localhost:17300
VITE_APP_ADMIN_URL=/micro/admin/
VITE_APP_CHAT_URL=/micro/chat/
VITE_APP_AUDIT_URL=/micro/audit/
VITE_APP_TICKET_URL=/micro/ticket/
VITE_APP_CUSTOMER_H5_URL=/micro/customer/
VITE_APP_MARKETING_URL=/micro/marketing/
